/* footer */
footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer {
    border-top: 1px solid rgba(128, 128, 128, 0.183);
    height: 200px;
    width: 1600px;
    margin-top: 20px;
    padding: 1.5rem 0;
}

footer .footer {
    display: flex;
}

footer div h2 {
    font-size: 16px;
    font-weight: 500;
}

footer div ul li {
    font-size: 14px;
    font-weight: 300;
}

.about,
.partners,
.help,
.social-media {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.about ul,
.partners ul,
.help ul,
.social-media ul {
    display: flex;
    flex-direction: column;
}