.menu {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.255);
    z-index: 2000;
    transform: translateY(100%);
    opacity: 0;
}

.active-menu {
    transform: translateY(0%);
    opacity: 1;
}

.shope {
    background-color: #FFFF;
    width: 100%;
    height: 60vh;
    bottom: 0;
    position: absolute;
    transform: translateY(100%);
    transition: transform 100ms linear;
    padding: 0.5rem 2rem;
}

.active-shope {
    transform: translateY(0%);
}

.shope-topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    padding: 0rem 0.7rem;
    border-bottom: 1px solid #00000016;
}

.shope-topo button {
    background-color: transparent;
    border: none;
}

#exiteBag {
    width: 60px;
    height: 45px;
    border-radius: 4px;
    cursor: grab;
}

/* searche-imput */
.modall-input {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.103);
    z-index: 0;
    overflow: hidden;
    transform: translateY(-100%);

}

.active-container-input {
    transform: translateY(0);
    top: 90px;

}

.content-input {
    padding: 1.5rem;
    width: 100%;
    height: 100px;
    background-color: #FFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;

}

.active-content-input {
    transform: translateY(0);
}

.div-input {
    width: 1600px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #0000002c;
    padding: 0.5rem 0;
}

.content-input input {
    width: 100%;
    border: transparent;
    background-color: transparent;
    padding: 1rem;
    outline: none;
    color: #000;
    font-size: 17px;
}

.content-input input::placeholder {
    color: black;
    font-size: 17px;
    font-weight: 400;
}

.content-input img {
    width: 60px;
    height: 50px;
    padding: 0.8rem;
}

.exiteModalinput {
    cursor: grab;
}

/* modal-viwe-card */
.modal-viwe-card {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: #0000004f;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.modal-viwe {
    background-color: #FFFF;
    width: 1000px;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    overflow: hidden;

   
}


.card-viwe {
    display: flex;
    gap: 20px;
    position: relative;
}
.card-viwe-img {
    display: flex;
    justify-content: center;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 65vh;
}
.card-viwe-img img{
    width: 100%;   
    border-radius: 5px;
}
.exiteCardViwe {
    position: absolute;
    right: -30px;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    cursor: grab;
}